/* HTML tag selector */
body {
    margin: 0;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Ubuntu', sans-serif;
    background-color: #f7f7f7;
    /* font-size: 12px; */
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

label {
    font-size: 0.8rem;
}

a {
    text-decoration: none;
}

footer {
    background-color: black;
    padding-bottom: 2rem;
    color: grey;
    font-size: 0.5rem;
    text-align: center;
    padding-top: 2rem;
}

/* class selector */
.login-page-head {
    margin: 3rem auto 0;
    text-align: center;
}

.login-page-body {
    margin: 1rem auto;
    width: 25rem;
    background-color: white;
    padding: 2rem 1rem;
    border: 1px solid;
    border-radius: 1%;
    border-color: #e6e6e6;
}

.logo-lg {
    width: 5rem;
}

.logo-md {
    width: 3rem;
}

.logo-sm {
    width: 2rem;
}

.text-small {
    font-size: 0.7rem;
}

.text-md {
    font-size: 0.8rem;
}

.text-white {
    color: white;
}



.main-stage {}

.flex-item {
    background-color: white;

}

.card-subtitle {
    font-size: 0.75rem;
    font-weight: bold;
}


.unread {
    font-weight: 800;
    color: blue;
    font-size: 0.8rem;
}

.regis-form {
    margin: 2rem auto;
    width: 30rem;
}

/* id selector */
#sidebar a {
    color: white;
}

#sidebar a:hover {
    color: gray;
}

.content-body {
    /* border: 1px solid grey; */
    background-color: white;
    padding-bottom: 30px;
}

.landing-page-banner .banner-image {
    width: 100%;
}


.wrapped-show {
    display: none;
}


h1.money {
    font-size: 3rem;
}

.money:hover {
    cursor: pointer;
}

.modal-title {
    font-weight: bold;
}

.lp-thumb {
    /* style="display: block; height: 100px; overflow:hidden;" */
    display: block;
    height: 150px;
    overflow: hidden;
}


/* Media query */

@media only screen and (max-width: 992px) {
    .navbar-brand {
        margin: auto;
    }

    .wrapped-center {
        text-align: center;
        margin: 0.5rem auto;
        display: block;
    }

    .wrapper-hide {
        display: none;
    }

    .wrapped-show {
        display: inline;
    }
}

/* bootstrap override */
.navbar .nav-item a:hover {
    background-color: gray;
}

/* fontawesome override */
.fa-solid {
    margin-right: 0.3rem;
}